:root {
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0,0,0,0.7);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.navbar {
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.navbar .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.navbar .logo {
    max-width: 225px;
    max-height: 225px;
    width: 150px;
}

.navbar .nav {
    display: flex;
    justify-self: flex-end;
    align-items: baseline;
    justify-content: center;
}

.navbar .nav a {
    padding: 0 1rem;
}
